# Load Data
Load data from csv files to a pandas dataframe, and then convert the dataframe to SQL database.

Last Modified: 2024-10-3

In [1]:
import sqlite3
import pandas as pd

# Connect to a database (creates the file if it doesn't exist)
with sqlite3.connect('data/nasdaq.db') as conn:

    # read first 10 rows of the data
    df = pd.read_csv('data/NASDAQ_100_Data_From_2010.csv', nrows=3, sep='\t')
    # delete the "Adj Close" column
    df = df.drop(columns=['Adj Close'])
    # write the data to a table in the database
    df.to_sql('stocks', conn, if_exists='replace', index=False)
    # print(df)

    cursor = conn.cursor()
    df = pd.read_sql_query("SELECT * FROM stocks", conn)
    print("Loaded Data:\n", df)

Loaded Data:
          Date      Open      High       Low     Close     Volume  Name
0  2010-01-04  7.622500  7.660714  7.585000  7.643214  493729600  AAPL
1  2010-01-05  7.664286  7.699643  7.616071  7.656429  601904800  AAPL
2  2010-01-06  7.656429  7.686786  7.526786  7.534643  552160000  AAPL

In [2]:
import sqlite3

# Connect to the database
with sqlite3.connect('data/nasdaq.db') as conn:
    cursor = conn.cursor()

    # Create (Insert a new record)
    cursor.execute("""
        INSERT INTO stocks (Date, Open, High, Low, Close, Volume, Name)
        VALUES (?, ?, ?, ?, ?, ?, ?)
        """, ('2021-10-01', 100, 110, 90, 105, 1000000, 'Imaginary AAPL'))
    
    df = pd.read_sql_query("SELECT * FROM stocks", conn)
    print("Create example:\n",df)

    # Read (Query records)
    cursor.execute("SELECT * FROM stocks WHERE Name = 'Imaginary AAPL'")
    print("\n\nRead Example:\n",cursor.fetchall())

    # Update (Modify a record)
    cursor.execute("UPDATE stocks SET Close = ? WHERE Name = ?", (200, 'Imaginary AAPL'))
    df = pd.read_sql_query("SELECT * FROM stocks", conn)
    print("\n\nUpdate example:\n",df)

    # # Delete (Remove a record)
    cursor.execute("DELETE FROM stocks WHERE Name = 'Imaginary AAPL'")
    df = pd.read_sql_query("SELECT * FROM stocks", conn)
    print("\n\nDelete example:\n",df)

    conn.commit()

Create example:
          Date        Open        High        Low       Close     Volume  \
0  2010-01-04    7.622500    7.660714   7.585000    7.643214  493729600
1  2010-01-05    7.664286    7.699643   7.616071    7.656429  601904800
2  2010-01-06    7.656429    7.686786   7.526786    7.534643  552160000
3  2021-10-01  100.000000  110.000000  90.000000  105.000000    1000000

             Name
0            AAPL
1            AAPL
2            AAPL
3  Imaginary AAPL


Read Example:
 [('2021-10-01', 100.0, 110.0, 90.0, 105.0, 1000000, 'Imaginary AAPL')]


Update example:
          Date        Open        High        Low       Close     Volume  \
0  2010-01-04    7.622500    7.660714   7.585000    7.643214  493729600
1  2010-01-05    7.664286    7.699643   7.616071    7.656429  601904800
2  2010-01-06    7.656429    7.686786   7.526786    7.534643  552160000
3  2021-10-01  100.000000  110.000000  90.000000  200.000000    1000000

             Name
0            AAPL
1            AAPL
2            AAPL
3  Imaginary AAPL


Delete example:
          Date      Open      High       Low     Close     Volume  Name
0  2010-01-04  7.622500  7.660714  7.585000  7.643214  493729600  AAPL
1  2010-01-05  7.664286  7.699643  7.616071  7.656429  601904800  AAPL
2  2010-01-06  7.656429  7.686786  7.526786  7.534643  552160000  AAPL